/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

header h1{
	font-family: Georgia;
	font-size: 30px;
}

header h2{
	font-family: Georgia;
	font-size: 20px;
	margin-bottom: 20px;
}

p {
	font-family: Georgia;
	font-size: 15px;
	margin-bottom: 5px;
}